@charset "utf-8";

* {
    margin: 0; 
    padding: 0;
}

/* Lista de imagenes*/
#portafolio {
    width: 100%;
    max-width: 1024px;
    height: auto;
    text-align: center;
}

.item {
    width: 20%;
    margin: 5px;
}

.item img {
    width: 100%;
}

/* PC */
@media screen and (min-width:960px) {
    #contenerdor {
        width:100%;
        margin: auto;
    }
}

@media screen and (min-width:480px) and (max-width:960px){
    #contenerdor {
        width:100%;
        margin: auto;
    }
    .item {
        width: 25%;
    }
}